<!DOCTYPE html>
<html>
  <head>
    <title>Create a GitHub App</title>
    <style>
      #outer {
        width: 100%;
        /* Firefox */
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-align: center;
        /* Safari and Chrome */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        /* W3C */
        display: box;
        box-pack: center;
        box-align: center;
      }

      #inner {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <label for="app-owner">Enter the organization name that will own the App (leave blank for the logged in user)</label>
        <br />
        <input type="text" name="app-owner" id="app-owner" placeholder="organization name" value="<%= config.app_owner %>">
        <hr>
        <form id="manifest-create-form" action="<%= manifest_flow_start_url %>" method="post">
          Create a GitHub App from the following manifest:
          <textarea name="manifest" id="manifest" value="<%= manifest_json %>" hidden></textarea>
          <br>
          <pre><%= manifest_json %></pre>
          <input type="submit" value="Create">
        </form>
      </div>
    </div>

		<script>
		  input = document.getElementById("manifest");
		  input.value = JSON.stringify(<%= manifest_json %>);

      appOwnerInput = document.getElementById("app-owner");

      function updateManifestFormTargetUrl(appOwner) {
        tld = "<%= config.github_url %>";
        manifestForm = document.getElementById("manifest-create-form");
        if (appOwner == "") {
          targetUrl = tld + "/settings/apps/new";
        } else {
          targetUrl = tld + "/organizations/" + appOwner + "/settings/apps/new";
        }
        manifestForm.action = targetUrl;
      };

      appOwnerInput.addEventListener("input", (event) => {
        updateManifestFormTargetUrl(event.target.value);
      });
		</script>
  </body>
</html>
